VistasSorrySliders/Connected Services/ServicioSorrySliders/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5454/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:5454/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DatosSorrySliders" />
  <xs:element name="VerificarExistenciaCorreoCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExistenciaCorreoCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="VerificarExistenciaCorreoCuentaResult" type="q1:ValueTupleOfstringConstantesXwxtt1zb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarContrasenaDeCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DatosSorrySliders" minOccurs="0" name="cuentaPorVerificar" nillable="true" type="q2:CuentaSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarContrasenaDeCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="VerificarContrasenaDeCuentaResult" type="q3:ValueTupleOfCuentaSetConstantesalmaccdW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DatosSorrySliders" minOccurs="0" name="usuarioPorGuardar" nillable="true" type="q4:UsuarioSet" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DatosSorrySliders" minOccurs="0" name="cuentaPorGuardar" nillable="true" type="q5:CuentaSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>