VistasSorrySliders/Connected Services/ServicioSorrySliders/ServicioComunicacionSorrySliders.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioComunicacionSorrySliders" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IInicioSesion_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IRegistroUsuario_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5454/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5454/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5454/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:5454/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DatosSorrySliders" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInicioSesion_VerificarExistenciaCorreoCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarExistenciaCorreoCuenta" />
  </wsdl:message>
  <wsdl:message name="IInicioSesion_VerificarExistenciaCorreoCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarExistenciaCorreoCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IInicioSesion_VerificarContrasenaDeCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarContrasenaDeCuenta" />
  </wsdl:message>
  <wsdl:message name="IInicioSesion_VerificarContrasenaDeCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarContrasenaDeCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistroUsuario_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IRegistroUsuario_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IInicioSesion">
    <wsdl:operation name="VerificarExistenciaCorreoCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IInicioSesion/VerificarExistenciaCorreoCuenta" message="tns:IInicioSesion_VerificarExistenciaCorreoCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInicioSesion/VerificarExistenciaCorreoCuentaResponse" message="tns:IInicioSesion_VerificarExistenciaCorreoCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarContrasenaDeCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IInicioSesion/VerificarContrasenaDeCuenta" message="tns:IInicioSesion_VerificarContrasenaDeCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInicioSesion/VerificarContrasenaDeCuentaResponse" message="tns:IInicioSesion_VerificarContrasenaDeCuenta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRegistroUsuario">
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistroUsuario/AgregarUsuario" message="tns:IRegistroUsuario_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistroUsuario/AgregarUsuarioResponse" message="tns:IRegistroUsuario_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IInicioSesion" type="tns:IInicioSesion">
    <wsp:PolicyReference URI="#NetTcpBinding_IInicioSesion_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="VerificarExistenciaCorreoCuenta">
      <soap12:operation soapAction="http://tempuri.org/IInicioSesion/VerificarExistenciaCorreoCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarContrasenaDeCuenta">
      <soap12:operation soapAction="http://tempuri.org/IInicioSesion/VerificarContrasenaDeCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRegistroUsuario" type="tns:IRegistroUsuario">
    <wsp:PolicyReference URI="#NetTcpBinding_IRegistroUsuario_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AgregarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IRegistroUsuario/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioComunicacionSorrySliders">
    <wsdl:port name="NetTcpBinding_IInicioSesion" binding="tns:NetTcpBinding_IInicioSesion">
      <soap12:address location="net.tcp://localhost:5455/ServidorSorrySliders" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5455/ServidorSorrySliders</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-H4AE1QJ9\sulem</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRegistroUsuario" binding="tns:NetTcpBinding_IRegistroUsuario">
      <soap12:address location="net.tcp://localhost:5455/ServidorSorrySliders" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5455/ServidorSorrySliders</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-H4AE1QJ9\sulem</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>